<!-- Card -->
<div class="container">
  <div class="add-button">
    <%= link_to "Add Cocktail",new_cocktail_path, :class => "btn, btn-outline-warning"%>
  </div>
  <class="nav-item active">
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="col-4">
          <div class="card-margin">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/970197/pexels-photo-970197.jpeg?cs=srgb&dl=alcoholic-beverage-beverage-cocktail-970197.jpg&fm=jpg)">
              <%= link_to c.name, cocktail_path(c) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>