<div class="form">
  <h1>Add A Cocktail</h1>
  <div class="input">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.submit %>
    <% end %>
  </div>
</div>