// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: $copper;
  text-align: center;
}

p {
  color: $copper;
  text-align: center;
  font-size: 21px;
}

li {
  list-style-type: none;
}
